*{
    Margin:0;
    padding: 0;
}
/*scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darkred; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
/*Phone CSS */
@media screen and (max-width: 1024px){
*{
    width: 100%  !important;
}
.navbar{
    position: fixed !important;
    width: 100% !important;
}
.navbar a{
    font-size: 1.2rem !important;
}
.nav-list a{
    padding: 1.3rem !important;
}
h1{
    font-size: 3rem !important;
    padding-top: 3rem !important;
}
h2{
    font-size: 2rem !important;
    padding-top: none !important;
}
.card{
    padding: 0 !important;
}
.col-sm{
    padding-left: 0 !important;
}
.row{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.contact-links{
    align-items: center !important;
    padding: 5rem !important;
}
.col-sm{
    padding-top: 1rem !important;
}
}
/*Regular CSS */
.navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: darkred;
    box-shadow: 0 2px 0 rgb(0, 0, 0 / 40%);
    z-index: 10;
    box-sizing: inherit;
}
ul{
    list-style: none;
    font-weight: bold;
}
.navbar a{
    display: inline;
    font-size: 1.5rem;
    padding: 2rem;
}
.navbar a:hover{
    color: black;
}
.project-section{
    background: #45567d;
    padding: 4vh 10vh;
    text-align: center;
}
.card{
    margin: 0;
    padding: 12;
    box-sizing: border-box;
}
.row{
    padding-left: 20rem;
    padding-right: 10rem;
}
a{
    text-decoration: none;
    color: silver;
}
.nav-list{
    display: flex;
    margin-right: 2rem;
}
.welcome-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    padding-top: 5rem;
    color: silver;
}
h1{
    font-size: 6rem;
    display: block;
    padding-top: 4rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h4{
    color:black;

}
h2{
    font-size: 3.7rem;
    padding-top: 2rem;
    color: silver;
}
h1, h2, h3, h4, h5{
    font-weight: 700;
    text-align: center;
}
.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    padding-top: 6rem;
    color: silver;
}
.contact-details{
    padding-bottom: 1rem;
}
.contact-links a, img{
    color: silver;
}
.contact-links a:hover{
    color: darkred;
}
.card-text{
    color: silver;
    font-weight: bold;
}
.card-text:hover{
    color: darkred;
}